@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light only;
}

@supports (forced-colors: none) {
  * {
    forced-colors: none;
  }
}

@theme {
  --color-tall-poppy-50: #fef2f2;
  --color-tall-poppy-100: #fde3e4;
  --color-tall-poppy-200: #fdcbcc;
  --color-tall-poppy-300: #faa7a9;
  --color-tall-poppy-400: #f47578;
  --color-tall-poppy-500: #ea494d;
  --color-tall-poppy-600: #d72b30;
  --color-tall-poppy-700: #b32024;
  --color-tall-poppy-800: #961e21;
  --color-tall-poppy-900: #7c2023;
  --color-tall-poppy-950: #430c0d;

  --color-regent-gray-50: #f8f9fa;
  --color-regent-gray-100: #f2f4f5;
  --color-regent-gray-200: #e8ebec;
  --color-regent-gray-300: #d5dbdd;
  --color-regent-gray-400: #bdc4c8;
  --color-regent-gray-500: #a1abb1;
  --color-regent-gray-600: #838e96;
  --color-regent-gray-700: #788189;
  --color-regent-gray-800: #646c73;
  --color-regent-gray-900: #53595f;
  --color-regent-gray-950: #363c3f;

  --color-davys-gray: #484848ff;
  --color-rose-ebony: #594142ff;
}

@layer components {
  .footer-col {
    @apply basis-[100%] sm:basis-[25%] p-2.5;
  }

  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
  

@layer utilities {
  
  .padding {
    @apply sm:px-16 px-4 sm:py-16 py-8;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Color palette 
--fire-brick: #b32024ff;
--slate-gray: #838e96ff;
--davys-gray: #484848ff;
--white: #ffffffff;
--rose-ebony: #594142ff;
*/
